{
  "openapi": "3.0.0",
  "info": {
    "title": "Gitee OpenApi",
    "version": "1.0.0",
    "description": "All api provided by Gitee"
  },
  "servers": [
    {
      "url": "https://gitee.com/api/v5"
    }
  ],
  "paths": {
    "/repos/{owner}/{repo}/subscribers": {
      "get": {
        "tags": [
          "repo"
        ],
        "summary": "\u5217\u51fa watch \u4e86\u4ed3\u5e93\u7684\u7528\u6237",
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "description": "\u7528\u6237\u6388\u6743\u7801",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "owner",
            "in": "path",
            "description": "\u4ed3\u5e93\u6240\u5c5e\u7a7a\u95f4\u5730\u5740(\u4f01\u4e1a\u3001\u7ec4\u7ec7\u6216\u4e2a\u4eba\u7684\u5730\u5740path)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "description": "\u4ed3\u5e93\u8def\u5f84(path)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "\u5f53\u524d\u7684\u9875\u7801",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "\u6bcf\u9875\u7684\u6570\u91cf\uff0c\u6700\u5927\u4e3a 100",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "avatar_url": {
                      "type": "string"
                    },
                    "events_url": {
                      "type": "string"
                    },
                    "followers_url": {
                      "type": "string"
                    },
                    "following_url": {
                      "type": "string"
                    },
                    "gists_url": {
                      "type": "string"
                    },
                    "html_url": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "login": {
                      "type": "string"
                    },
                    "member_role": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "organizations_url": {
                      "type": "string"
                    },
                    "received_events_url": {
                      "type": "string"
                    },
                    "remark": {
                      "type": "string"
                    },
                    "repos_url": {
                      "type": "string"
                    },
                    "starred_url": {
                      "type": "string"
                    },
                    "subscriptions_url": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    },
                    "watch_at": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/repos/{owner}/{repo}/hooks/{id}/tests": {
      "post": {
        "tags": [
          "hook"
        ],
        "summary": "\u6d4b\u8bd5WebHook\u662f\u5426\u53d1\u9001\u6210\u529f",
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "description": "\u4ed3\u5e93\u6240\u5c5e\u7a7a\u95f4\u5730\u5740(\u4f01\u4e1a\u3001\u7ec4\u7ec7\u6216\u4e2a\u4eba\u7684\u5730\u5740path)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "description": "\u4ed3\u5e93\u8def\u5f84(path)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Webhook\u7684ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "access_token": {
                    "type": "string",
                    "description": "\u7528\u6237\u6388\u6743\u7801"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successfully",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/repos/{owner}/{repo}/hooks/{id}": {
      "get": {
        "tags": [
          "hook"
        ],
        "summary": "\u83b7\u53d6\u4ed3\u5e93\u5355\u4e2aWebHook",
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "description": "\u7528\u6237\u6388\u6743\u7801",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "owner",
            "in": "path",
            "description": "\u4ed3\u5e93\u6240\u5c5e\u7a7a\u95f4\u5730\u5740(\u4f01\u4e1a\u3001\u7ec4\u7ec7\u6216\u4e2a\u4eba\u7684\u5730\u5740path)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "description": "\u4ed3\u5e93\u8def\u5f84(path)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Webhook\u7684ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "created_at": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "issues_events": {
                      "type": "string"
                    },
                    "merge_requests_events": {
                      "type": "string"
                    },
                    "note_events": {
                      "type": "string"
                    },
                    "password": {
                      "type": "string"
                    },
                    "project_id": {
                      "type": "string"
                    },
                    "push_events": {
                      "type": "string"
                    },
                    "result": {
                      "type": "string"
                    },
                    "result_code": {
                      "type": "string"
                    },
                    "tag_push_events": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/repos/{owner}/{repo}/hooks": {
      "get": {
        "tags": [
          "hook"
        ],
        "summary": "\u5217\u51fa\u4ed3\u5e93\u7684WebHooks",
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "description": "\u7528\u6237\u6388\u6743\u7801",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "owner",
            "in": "path",
            "description": "\u4ed3\u5e93\u6240\u5c5e\u7a7a\u95f4\u5730\u5740(\u4f01\u4e1a\u3001\u7ec4\u7ec7\u6216\u4e2a\u4eba\u7684\u5730\u5740path)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "description": "\u4ed3\u5e93\u8def\u5f84(path)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "\u5f53\u524d\u7684\u9875\u7801",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "\u6bcf\u9875\u7684\u6570\u91cf\uff0c\u6700\u5927\u4e3a 100",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "created_at": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "issues_events": {
                      "type": "string"
                    },
                    "merge_requests_events": {
                      "type": "string"
                    },
                    "note_events": {
                      "type": "string"
                    },
                    "password": {
                      "type": "string"
                    },
                    "project_id": {
                      "type": "string"
                    },
                    "push_events": {
                      "type": "string"
                    },
                    "result": {
                      "type": "string"
                    },
                    "result_code": {
                      "type": "string"
                    },
                    "tag_push_events": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users/{username}/keys": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "\u5217\u51fa\u6307\u5b9a\u7528\u6237\u7684\u6240\u6709\u516c\u94a5",
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "description": "\u7528\u6237\u6388\u6743\u7801",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "path",
            "description": "\u7528\u6237\u540d(username/login)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "\u5f53\u524d\u7684\u9875\u7801",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "\u6bcf\u9875\u7684\u6570\u91cf\uff0c\u6700\u5927\u4e3a 100",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "key": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users/{username}/following/{target_user}": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "\u68c0\u67e5\u6307\u5b9a\u7528\u6237\u662f\u5426\u5173\u6ce8\u76ee\u6807\u7528\u6237",
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "description": "\u7528\u6237\u6388\u6743\u7801",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "path",
            "description": "\u7528\u6237\u540d(username/login)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "target_user",
            "in": "path",
            "description": "\u76ee\u6807\u7528\u6237\u7684\u7528\u6237\u540d(username/login)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/users/{username}/following": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "\u5217\u51fa\u6307\u5b9a\u7528\u6237\u6b63\u5728\u5173\u6ce8\u7684\u7528\u6237",
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "description": "\u7528\u6237\u6388\u6743\u7801",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "path",
            "description": "\u7528\u6237\u540d(username/login)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "\u5f53\u524d\u7684\u9875\u7801",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "\u6bcf\u9875\u7684\u6570\u91cf\uff0c\u6700\u5927\u4e3a 100",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "avatar_url": {
                      "type": "string"
                    },
                    "events_url": {
                      "type": "string"
                    },
                    "followers_url": {
                      "type": "string"
                    },
                    "following_url": {
                      "type": "string"
                    },
                    "gists_url": {
                      "type": "string"
                    },
                    "html_url": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "login": {
                      "type": "string"
                    },
                    "member_role": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "organizations_url": {
                      "type": "string"
                    },
                    "received_events_url": {
                      "type": "string"
                    },
                    "remark": {
                      "type": "string"
                    },
                    "repos_url": {
                      "type": "string"
                    },
                    "starred_url": {
                      "type": "string"
                    },
                    "subscriptions_url": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users/{username}/followers": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "\u5217\u51fa\u6307\u5b9a\u7528\u6237\u7684\u5173\u6ce8\u8005",
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "description": "\u7528\u6237\u6388\u6743\u7801",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "path",
            "description": "\u7528\u6237\u540d(username/login)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "\u5f53\u524d\u7684\u9875\u7801",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "\u6bcf\u9875\u7684\u6570\u91cf\uff0c\u6700\u5927\u4e3a 100",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "avatar_url": {
                      "type": "string"
                    },
                    "events_url": {
                      "type": "string"
                    },
                    "followers_url": {
                      "type": "string"
                    },
                    "following_url": {
                      "type": "string"
                    },
                    "gists_url": {
                      "type": "string"
                    },
                    "html_url": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "login": {
                      "type": "string"
                    },
                    "member_role": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "organizations_url": {
                      "type": "string"
                    },
                    "received_events_url": {
                      "type": "string"
                    },
                    "remark": {
                      "type": "string"
                    },
                    "repos_url": {
                      "type": "string"
                    },
                    "starred_url": {
                      "type": "string"
                    },
                    "subscriptions_url": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users/{username}": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "\u83b7\u53d6\u4e00\u4e2a\u7528\u6237",
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "description": "\u7528\u6237\u6388\u6743\u7801",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "path",
            "description": "\u7528\u6237\u540d(username/login)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "avatar_url": {
                      "type": "string"
                    },
                    "bio": {
                      "type": "string"
                    },
                    "blog": {
                      "type": "string"
                    },
                    "company": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "events_url": {
                      "type": "string"
                    },
                    "followers": {
                      "type": "string"
                    },
                    "followers_url": {
                      "type": "string"
                    },
                    "following": {
                      "type": "string"
                    },
                    "following_url": {
                      "type": "string"
                    },
                    "gists_url": {
                      "type": "string"
                    },
                    "html_url": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "linkedin": {
                      "type": "string"
                    },
                    "login": {
                      "type": "string"
                    },
                    "member_role": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "organizations_url": {
                      "type": "string"
                    },
                    "profession": {
                      "type": "string"
                    },
                    "public_gists": {
                      "type": "string"
                    },
                    "public_repos": {
                      "type": "string"
                    },
                    "qq": {
                      "type": "string"
                    },
                    "received_events_url": {
                      "type": "string"
                    },
                    "remark": {
                      "type": "string"
                    },
                    "repos_url": {
                      "type": "string"
                    },
                    "stared": {
                      "type": "string"
                    },
                    "starred_url": {
                      "type": "string"
                    },
                    "subscriptions_url": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "updated_at": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    },
                    "watched": {
                      "type": "string"
                    },
                    "wechat": {
                      "type": "string"
                    },
                    "weibo": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user/following/{username}": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "\u68c0\u67e5\u6388\u6743\u7528\u6237\u662f\u5426\u5173\u6ce8\u4e86\u4e00\u4e2a\u7528\u6237",
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "description": "\u7528\u6237\u6388\u6743\u7801",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "path",
            "description": "\u7528\u6237\u540d(username/login)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/user/namespace": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "\u83b7\u53d6\u6388\u6743\u7528\u6237\u7684\u4e00\u4e2a Namespace",
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "description": "\u7528\u6237\u6388\u6743\u7801",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "query",
            "description": "Namespace path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "html_url": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "name": {
                      "type": "string"
                    },
                    "parent": {
                      "$ref": "#/components/schemas/parent"
                    },
                    "path": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user/namespaces": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "\u5217\u51fa\u6388\u6743\u7528\u6237\u6240\u6709\u7684 Namespace",
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "description": "\u7528\u6237\u6388\u6743\u7801",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "description": "\u53c2\u4e0e\u65b9\u5f0f: project(\u6240\u6709\u53c2\u4e0e\u4ed3\u5e93\u7684namepsce)\u3001intrant(\u6240\u52a0\u5165\u7684namespace)\u3001all(\u5305\u542b\u524d\u4e24\u8005)\uff0c\u9ed8\u8ba4(intrant)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "html_url": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "name": {
                      "type": "string"
                    },
                    "parent": {
                      "$ref": "#/components/schemas/parent"
                    },
                    "path": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user/following": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "\u5217\u51fa\u6388\u6743\u7528\u6237\u6b63\u5173\u6ce8\u7684\u7528\u6237",
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "description": "\u7528\u6237\u6388\u6743\u7801",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "\u5f53\u524d\u7684\u9875\u7801",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "\u6bcf\u9875\u7684\u6570\u91cf\uff0c\u6700\u5927\u4e3a 100",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "avatar_url": {
                      "type": "string"
                    },
                    "events_url": {
                      "type": "string"
                    },
                    "followers_url": {
                      "type": "string"
                    },
                    "following_url": {
                      "type": "string"
                    },
                    "gists_url": {
                      "type": "string"
                    },
                    "html_url": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "login": {
                      "type": "string"
                    },
                    "member_role": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "organizations_url": {
                      "type": "string"
                    },
                    "received_events_url": {
                      "type": "string"
                    },
                    "remark": {
                      "type": "string"
                    },
                    "repos_url": {
                      "type": "string"
                    },
                    "starred_url": {
                      "type": "string"
                    },
                    "subscriptions_url": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user/followers": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "\u5217\u51fa\u6388\u6743\u7528\u6237\u7684\u5173\u6ce8\u8005",
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "description": "\u7528\u6237\u6388\u6743\u7801",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "\u5f53\u524d\u7684\u9875\u7801",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "\u6bcf\u9875\u7684\u6570\u91cf\uff0c\u6700\u5927\u4e3a 100",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "avatar_url": {
                      "type": "string"
                    },
                    "events_url": {
                      "type": "string"
                    },
                    "followers_url": {
                      "type": "string"
                    },
                    "following_url": {
                      "type": "string"
                    },
                    "gists_url": {
                      "type": "string"
                    },
                    "html_url": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "login": {
                      "type": "string"
                    },
                    "member_role": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "organizations_url": {
                      "type": "string"
                    },
                    "received_events_url": {
                      "type": "string"
                    },
                    "remark": {
                      "type": "string"
                    },
                    "repos_url": {
                      "type": "string"
                    },
                    "starred_url": {
                      "type": "string"
                    },
                    "subscriptions_url": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "\u83b7\u53d6\u6388\u6743\u7528\u6237\u7684\u8d44\u6599",
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "description": "\u7528\u6237\u6388\u6743\u7801",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "avatar_url": {
                      "type": "string"
                    },
                    "bio": {
                      "type": "string"
                    },
                    "blog": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "events_url": {
                      "type": "string"
                    },
                    "followers": {
                      "type": "string"
                    },
                    "followers_url": {
                      "type": "string"
                    },
                    "following": {
                      "type": "string"
                    },
                    "following_url": {
                      "type": "string"
                    },
                    "gists_url": {
                      "type": "string"
                    },
                    "html_url": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "login": {
                      "type": "string"
                    },
                    "member_role": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "organizations_url": {
                      "type": "string"
                    },
                    "public_gists": {
                      "type": "string"
                    },
                    "public_repos": {
                      "type": "string"
                    },
                    "received_events_url": {
                      "type": "string"
                    },
                    "remark": {
                      "type": "string"
                    },
                    "repos_url": {
                      "type": "string"
                    },
                    "stared": {
                      "type": "string"
                    },
                    "starred_url": {
                      "type": "string"
                    },
                    "subscriptions_url": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "updated_at": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    },
                    "watched": {
                      "type": "string"
                    },
                    "weibo": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user/keys/{id}": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "\u83b7\u53d6\u4e00\u4e2a\u516c\u94a5",
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "description": "\u7528\u6237\u6388\u6743\u7801",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "\u516c\u94a5 ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "created_at": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "key": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user/keys": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "\u5217\u51fa\u6388\u6743\u7528\u6237\u7684\u6240\u6709\u516c\u94a5",
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "description": "\u7528\u6237\u6388\u6743\u7801",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "\u5f53\u524d\u7684\u9875\u7801",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "\u6bcf\u9875\u7684\u6570\u91cf\uff0c\u6700\u5927\u4e3a 100",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "created_at": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "key": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search/users": {
      "get": {
        "tags": [
          "search"
        ],
        "summary": "\u641c\u7d22\u7528\u6237",
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "description": "\u7528\u6237\u6388\u6743\u7801",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "\u641c\u7d22\u5173\u952e\u5b57",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "\u5f53\u524d\u7684\u9875\u7801",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "\u6bcf\u9875\u7684\u6570\u91cf\uff0c\u6700\u5927\u4e3a 100",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "\u6392\u5e8f\u5b57\u6bb5\uff0cjoined_at(\u6ce8\u518c\u65f6\u95f4)\uff0c\u9ed8\u8ba4\u4e3a\u6700\u4f73\u5339\u914d",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "\u6392\u5e8f\u987a\u5e8f: desc(default)\u3001asc",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "avatar_url": {
                      "type": "string"
                    },
                    "bio": {
                      "type": "string"
                    },
                    "blog": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "events_url": {
                      "type": "string"
                    },
                    "followers": {
                      "type": "string"
                    },
                    "followers_url": {
                      "type": "string"
                    },
                    "following": {
                      "type": "string"
                    },
                    "following_url": {
                      "type": "string"
                    },
                    "gists_url": {
                      "type": "string"
                    },
                    "html_url": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "login": {
                      "type": "string"
                    },
                    "member_role": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "organizations_url": {
                      "type": "string"
                    },
                    "public_gists": {
                      "type": "string"
                    },
                    "public_repos": {
                      "type": "string"
                    },
                    "received_events_url": {
                      "type": "string"
                    },
                    "remark": {
                      "type": "string"
                    },
                    "repos_url": {
                      "type": "string"
                    },
                    "stared": {
                      "type": "string"
                    },
                    "starred_url": {
                      "type": "string"
                    },
                    "subscriptions_url": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "updated_at": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    },
                    "watched": {
                      "type": "string"
                    },
                    "weibo": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search/issues": {
      "get": {
        "tags": [
          "search"
        ],
        "summary": "\u641c\u7d22 Issues",
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "description": "\u7528\u6237\u6388\u6743\u7801",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "\u641c\u7d22\u5173\u952e\u5b57",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "\u5f53\u524d\u7684\u9875\u7801",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "\u6bcf\u9875\u7684\u6570\u91cf\uff0c\u6700\u5927\u4e3a 100",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "repo",
            "in": "query",
            "description": "\u7b5b\u9009\u6307\u5b9a\u4ed3\u5e93 (path, e.g. oschina/git-osc) \u7684 issues",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "\u7b5b\u9009\u6307\u5b9a\u8bed\u8a00\u7684 issues",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "label",
            "in": "query",
            "description": "\u7b5b\u9009\u6307\u5b9a\u6807\u7b7e\u7684 issues",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "\u7b5b\u9009\u6307\u5b9a\u72b6\u6001\u7684 issues, open(\u5f00\u542f)\u3001closed(\u5b8c\u6210)\u3001rejected(\u62d2\u7edd)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "author",
            "in": "query",
            "description": "\u7b5b\u9009\u6307\u5b9a\u521b\u5efa\u8005 (username/login) \u7684 issues",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assignee",
            "in": "query",
            "description": "\u7b5b\u9009\u6307\u5b9a\u8d1f\u8d23\u4eba (username/login) \u7684 issues",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "\u6392\u5e8f\u5b57\u6bb5\uff0ccreated_at(\u521b\u5efa\u65f6\u95f4)\u3001last_push_at(\u66f4\u65b0\u65f6\u95f4)\u3001notes_count(\u8bc4\u8bba\u6570)\uff0c\u9ed8\u8ba4\u4e3a\u6700\u4f73\u5339\u914d",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "\u6392\u5e8f\u987a\u5e8f: desc(default)\u3001asc",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "assignee": {
                      "$ref": "#/components/schemas/assignee"
                    },
                    "body": {
                      "type": "string"
                    },
                    "body_html": {
                      "type": "string"
                    },
                    "branch": {
                      "type": "string"
                    },
                    "collaborators": {
                      "$ref": "#/components/schemas/collaborators"
                    },
                    "comments": {
                      "type": "integer"
                    },
                    "comments_url": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "deadline": {
                      "type": "string"
                    },
                    "depth": {
                      "type": "integer"
                    },
                    "finished_at": {
                      "type": "string"
                    },
                    "html_url": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "issue_state_detail": {
                      "$ref": "#/components/schemas/issue_state_detail"
                    },
                    "issue_type_detail": {
                      "$ref": "#/components/schemas/issue_type_detail"
                    },
                    "labels": {
                      "$ref": "#/components/schemas/labels"
                    },
                    "labels_url": {
                      "type": "string"
                    },
                    "milestone": {
                      "$ref": "#/components/schemas/milestone"
                    },
                    "number": {
                      "type": "string"
                    },
                    "parent_id": {
                      "type": "integer"
                    },
                    "parent_url": {
                      "type": "string"
                    },
                    "plan_started_at": {
                      "type": "string"
                    },
                    "priority": {
                      "type": "integer"
                    },
                    "program": {
                      "$ref": "#/components/schemas/program"
                    },
                    "repository": {
                      "$ref": "#/components/schemas/repository"
                    },
                    "repository_url": {
                      "type": "string"
                    },
                    "scheduled_time": {
                      "type": "integer"
                    },
                    "security_hole": {
                      "type": "boolean"
                    },
                    "state": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "updated_at": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    },
                    "user": {
                      "$ref": "#/components/schemas/user"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search/repositories": {
      "get": {
        "tags": [
          "search"
        ],
        "summary": "\u641c\u7d22\u4ed3\u5e93",
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "description": "\u7528\u6237\u6388\u6743\u7801",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "\u641c\u7d22\u5173\u952e\u5b57",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "\u5f53\u524d\u7684\u9875\u7801",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "\u6bcf\u9875\u7684\u6570\u91cf\uff0c\u6700\u5927\u4e3a 100",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "owner",
            "in": "query",
            "description": "\u7b5b\u9009\u6307\u5b9a\u7a7a\u95f4\u5730\u5740(\u4f01\u4e1a\u3001\u7ec4\u7ec7\u6216\u4e2a\u4eba\u7684\u5730\u5740 path) \u7684\u4ed3\u5e93",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fork",
            "in": "query",
            "description": "\u662f\u5426\u641c\u7d22\u542b fork \u7684\u4ed3\u5e93\uff0c\u9ed8\u8ba4\uff1a\u5426",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "\u7b5b\u9009\u6307\u5b9a\u8bed\u8a00\u7684\u4ed3\u5e93",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "\u6392\u5e8f\u5b57\u6bb5\uff0clast_push_at(\u66f4\u65b0\u65f6\u95f4)\u3001stars_count(\u6536\u85cf\u6570)\u3001forks_count(Fork \u6570)\u3001watches_count(\u5173\u6ce8\u6570)\uff0c\u9ed8\u8ba4\u4e3a\u6700\u4f73\u5339\u914d",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "\u6392\u5e8f\u987a\u5e8f: desc(default)\u3001asc",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "assignee": {
                      "$ref": "#/components/schemas/assignee"
                    },
                    "assignees_number": {
                      "type": "integer"
                    },
                    "assigner": {
                      "$ref": "#/components/schemas/assigner"
                    },
                    "blobs_url": {
                      "type": "string"
                    },
                    "branches_url": {
                      "type": "string"
                    },
                    "can_comment": {
                      "type": "boolean"
                    },
                    "collaborators_url": {
                      "type": "string"
                    },
                    "comments_url": {
                      "type": "string"
                    },
                    "commits_url": {
                      "type": "string"
                    },
                    "contributors_url": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "default_branch": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "enterprise": {
                      "$ref": "#/components/schemas/enterprise"
                    },
                    "fork": {
                      "type": "boolean"
                    },
                    "forks_count": {
                      "type": "integer"
                    },
                    "forks_url": {
                      "type": "string"
                    },
                    "full_name": {
                      "type": "string"
                    },
                    "gvp": {
                      "type": "boolean"
                    },
                    "has_issues": {
                      "type": "boolean"
                    },
                    "has_page": {
                      "type": "boolean"
                    },
                    "has_wiki": {
                      "type": "boolean"
                    },
                    "homepage": {
                      "type": "string"
                    },
                    "hooks_url": {
                      "type": "string"
                    },
                    "html_url": {
                      "type": "string"
                    },
                    "human_name": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "internal": {
                      "type": "string"
                    },
                    "issue_comment": {
                      "type": "boolean"
                    },
                    "issue_comment_url": {
                      "type": "string"
                    },
                    "issue_template_source": {
                      "type": "string"
                    },
                    "issues_url": {
                      "type": "string"
                    },
                    "keys_url": {
                      "type": "string"
                    },
                    "labels_url": {
                      "type": "string"
                    },
                    "language": {
                      "type": "string"
                    },
                    "license": {
                      "type": "string"
                    },
                    "members": {
                      "type": "object"
                    },
                    "milestones_url": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "namespace": {
                      "$ref": "#/components/schemas/namespace"
                    },
                    "notifications_url": {
                      "type": "string"
                    },
                    "open_issues_count": {
                      "type": "integer"
                    },
                    "outsourced": {
                      "type": "boolean"
                    },
                    "owner": {
                      "$ref": "#/components/schemas/owner"
                    },
                    "paas": {
                      "type": "string"
                    },
                    "parent": {
                      "$ref": "#/components/schemas/parent"
                    },
                    "path": {
                      "type": "string"
                    },
                    "permission": {
                      "type": "object"
                    },
                    "private": {
                      "type": "boolean"
                    },
                    "programs": {
                      "$ref": "#/components/schemas/programs"
                    },
                    "project_creator": {
                      "type": "string"
                    },
                    "project_labels": {
                      "$ref": "#/components/schemas/project_labels"
                    },
                    "public": {
                      "type": "boolean"
                    },
                    "pull_requests_enabled": {
                      "type": "boolean"
                    },
                    "pulls_url": {
                      "type": "string"
                    },
                    "pushed_at": {
                      "type": "string"
                    },
                    "recommend": {
                      "type": "boolean"
                    },
                    "relation": {
                      "type": "string"
                    },
                    "releases_url": {
                      "type": "string"
                    },
                    "ssh_url": {
                      "type": "string"
                    },
                    "stared": {
                      "type": "boolean"
                    },
                    "stargazers_count": {
                      "type": "integer"
                    },
                    "stargazers_url": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "tags_url": {
                      "type": "string"
                    },
                    "testers": {
                      "$ref": "#/components/schemas/testers"
                    },
                    "testers_number": {
                      "type": "integer"
                    },
                    "updated_at": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    },
                    "watched": {
                      "type": "boolean"
                    },
                    "watchers_count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/enterprises/{enterprise}/repos": {
      "get": {
        "tags": [
          "enterprise"
        ],
        "summary": "\u83b7\u53d6\u4f01\u4e1a\u7684\u6240\u6709\u4ed3\u5e93",
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "description": "\u7528\u6237\u6388\u6743\u7801",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "enterprise",
            "in": "path",
            "description": "\u4f01\u4e1a\u7684\u8def\u5f84(path/login)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "\u7b5b\u9009\u4ed3\u5e93\u7684\u7c7b\u578b\uff0c\u53ef\u4ee5\u662f all, public, internal, private\u3002\u9ed8\u8ba4: all",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "direct",
            "in": "query",
            "description": "\u53ea\u83b7\u53d6\u76f4\u5c5e\u4ed3\u5e93\uff0c\u9ed8\u8ba4: false",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "\u5f53\u524d\u7684\u9875\u7801",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "\u6bcf\u9875\u7684\u6570\u91cf\uff0c\u6700\u5927\u4e3a 100",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "assignee": {
                      "$ref": "#/components/schemas/assignee"
                    },
                    "assignees_number": {
                      "type": "integer"
                    },
                    "assigner": {
                      "$ref": "#/components/schemas/assigner"
                    },
                    "blobs_url": {
                      "type": "string"
                    },
                    "branches_url": {
                      "type": "string"
                    },
                    "can_comment": {
                      "type": "boolean"
                    },
                    "collaborators_url": {
                      "type": "string"
                    },
                    "comments_url": {
                      "type": "string"
                    },
                    "commits_url": {
                      "type": "string"
                    },
                    "contributors_url": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "default_branch": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "enterprise": {
                      "$ref": "#/components/schemas/enterprise"
                    },
                    "fork": {
                      "type": "boolean"
                    },
                    "forks_count": {
                      "type": "integer"
                    },
                    "forks_url": {
                      "type": "string"
                    },
                    "full_name": {
                      "type": "string"
                    },
                    "gvp": {
                      "type": "boolean"
                    },
                    "has_issues": {
                      "type": "boolean"
                    },
                    "has_page": {
                      "type": "boolean"
                    },
                    "has_wiki": {
                      "type": "boolean"
                    },
                    "homepage": {
                      "type": "string"
                    },
                    "hooks_url": {
                      "type": "string"
                    },
                    "html_url": {
                      "type": "string"
                    },
                    "human_name": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "internal": {
                      "type": "string"
                    },
                    "issue_comment": {
                      "type": "boolean"
                    },
                    "issue_comment_url": {
                      "type": "string"
                    },
                    "issue_template_source": {
                      "type": "string"
                    },
                    "issues_url": {
                      "type": "string"
                    },
                    "keys_url": {
                      "type": "string"
                    },
                    "labels_url": {
                      "type": "string"
                    },
                    "language": {
                      "type": "string"
                    },
                    "license": {
                      "type": "string"
                    },
                    "members": {
                      "type": "object"
                    },
                    "milestones_url": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "namespace": {
                      "$ref": "#/components/schemas/namespace"
                    },
                    "notifications_url": {
                      "type": "string"
                    },
                    "open_issues_count": {
                      "type": "integer"
                    },
                    "outsourced": {
                      "type": "boolean"
                    },
                    "owner": {
                      "$ref": "#/components/schemas/owner"
                    },
                    "paas": {
                      "type": "string"
                    },
                    "parent": {
                      "$ref": "#/components/schemas/parent"
                    },
                    "path": {
                      "type": "string"
                    },
                    "permission": {
                      "type": "object"
                    },
                    "private": {
                      "type": "boolean"
                    },
                    "programs": {
                      "$ref": "#/components/schemas/programs"
                    },
                    "project_creator": {
                      "type": "string"
                    },
                    "project_labels": {
                      "$ref": "#/components/schemas/project_labels"
                    },
                    "public": {
                      "type": "boolean"
                    },
                    "pull_requests_enabled": {
                      "type": "boolean"
                    },
                    "pulls_url": {
                      "type": "string"
                    },
                    "pushed_at": {
                      "type": "string"
                    },
                    "recommend": {
                      "type": "boolean"
                    },
                    "relation": {
                      "type": "string"
                    },
                    "releases_url": {
                      "type": "string"
                    },
                    "ssh_url": {
                      "type": "string"
                    },
                    "stared": {
                      "type": "boolean"
                    },
                    "stargazers_count": {
                      "type": "integer"
                    },
                    "stargazers_url": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "tags_url": {
                      "type": "string"
                    },
                    "testers": {
                      "$ref": "#/components/schemas/testers"
                    },
                    "testers_number": {
                      "type": "integer"
                    },
                    "updated_at": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    },
                    "watched": {
                      "type": "boolean"
                    },
                    "watchers_count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/orgs/{org}/repos": {
      "get": {
        "tags": [
          "orgs"
        ],
        "summary": "\u83b7\u53d6\u4e00\u4e2a\u7ec4\u7ec7\u7684\u4ed3\u5e93",
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "description": "\u7528\u6237\u6388\u6743\u7801",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "org",
            "in": "path",
            "description": "\u7ec4\u7ec7\u7684\u8def\u5f84(path/login)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "\u7b5b\u9009\u4ed3\u5e93\u7684\u7c7b\u578b\uff0c\u53ef\u4ee5\u662f all, public, private\u3002\u9ed8\u8ba4: all",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "\u5f53\u524d\u7684\u9875\u7801",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "\u6bcf\u9875\u7684\u6570\u91cf\uff0c\u6700\u5927\u4e3a 100",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "assignee": {
                      "$ref": "#/components/schemas/assignee"
                    },
                    "assignees_number": {
                      "type": "integer"
                    },
                    "assigner": {
                      "$ref": "#/components/schemas/assigner"
                    },
                    "blobs_url": {
                      "type": "string"
                    },
                    "branches_url": {
                      "type": "string"
                    },
                    "can_comment": {
                      "type": "boolean"
                    },
                    "collaborators_url": {
                      "type": "string"
                    },
                    "comments_url": {
                      "type": "string"
                    },
                    "commits_url": {
                      "type": "string"
                    },
                    "contributors_url": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "default_branch": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "enterprise": {
                      "$ref": "#/components/schemas/enterprise"
                    },
                    "fork": {
                      "type": "boolean"
                    },
                    "forks_count": {
                      "type": "integer"
                    },
                    "forks_url": {
                      "type": "string"
                    },
                    "full_name": {
                      "type": "string"
                    },
                    "gvp": {
                      "type": "boolean"
                    },
                    "has_issues": {
                      "type": "boolean"
                    },
                    "has_page": {
                      "type": "boolean"
                    },
                    "has_wiki": {
                      "type": "boolean"
                    },
                    "homepage": {
                      "type": "string"
                    },
                    "hooks_url": {
                      "type": "string"
                    },
                    "html_url": {
                      "type": "string"
                    },
                    "human_name": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "internal": {
                      "type": "string"
                    },
                    "issue_comment": {
                      "type": "boolean"
                    },
                    "issue_comment_url": {
                      "type": "string"
                    },
                    "issue_template_source": {
                      "type": "string"
                    },
                    "issues_url": {
                      "type": "string"
                    },
                    "keys_url": {
                      "type": "string"
                    },
                    "labels_url": {
                      "type": "string"
                    },
                    "language": {
                      "type": "string"
                    },
                    "license": {
                      "type": "string"
                    },
                    "members": {
                      "type": "object"
                    },
                    "milestones_url": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "namespace": {
                      "$ref": "#/components/schemas/namespace"
                    },
                    "notifications_url": {
                      "type": "string"
                    },
                    "open_issues_count": {
                      "type": "integer"
                    },
                    "outsourced": {
                      "type": "boolean"
                    },
                    "owner": {
                      "$ref": "#/components/schemas/owner"
                    },
                    "paas": {
                      "type": "string"
                    },
                    "parent": {
                      "$ref": "#/components/schemas/parent"
                    },
                    "path": {
                      "type": "string"
                    },
                    "permission": {
                      "type": "object"
                    },
                    "private": {
                      "type": "boolean"
                    },
                    "programs": {
                      "$ref": "#/components/schemas/programs"
                    },
                    "project_creator": {
                      "type": "string"
                    },
                    "project_labels": {
                      "$ref": "#/components/schemas/project_labels"
                    },
                    "public": {
                      "type": "boolean"
                    },
                    "pull_requests_enabled": {
                      "type": "boolean"
                    },
                    "pulls_url": {
                      "type": "string"
                    },
                    "pushed_at": {
                      "type": "string"
                    },
                    "recommend": {
                      "type": "boolean"
                    },
                    "relation": {
                      "type": "string"
                    },
                    "releases_url": {
                      "type": "string"
                    },
                    "ssh_url": {
                      "type": "string"
                    },
                    "stared": {
                      "type": "boolean"
                    },
                    "stargazers_count": {
                      "type": "integer"
                    },
                    "stargazers_url": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "tags_url": {
                      "type": "string"
                    },
                    "testers": {
                      "$ref": "#/components/schemas/testers"
                    },
                    "testers_number": {
                      "type": "integer"
                    },
                    "updated_at": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    },
                    "watched": {
                      "type": "boolean"
                    },
                    "watchers_count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users/{username}/repos": {
      "get": {
        "tags": [
          "repo"
        ],
        "summary": "\u83b7\u53d6\u67d0\u4e2a\u7528\u6237\u7684\u516c\u5f00\u4ed3\u5e93",
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "description": "\u7528\u6237\u6388\u6743\u7801",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "path",
            "description": "\u7528\u6237\u540d(username/login)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "\u7528\u6237\u521b\u5efa\u7684\u4ed3\u5e93(owner)\uff0c\u7528\u6237\u4e2a\u4eba\u4ed3\u5e93(personal)\uff0c\u7528\u6237\u4e3a\u4ed3\u5e93\u6210\u5458(member)\uff0c\u6240\u6709(all)\u3002\u9ed8\u8ba4: \u6240\u6709(all)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "\u6392\u5e8f\u65b9\u5f0f: \u521b\u5efa\u65f6\u95f4(created)\uff0c\u66f4\u65b0\u65f6\u95f4(updated)\uff0c\u6700\u540e\u63a8\u9001\u65f6\u95f4(pushed)\uff0c\u4ed3\u5e93\u6240\u5c5e\u4e0e\u540d\u79f0(full_name)\u3002\u9ed8\u8ba4: full_name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "direction",
            "in": "query",
            "description": "\u5982\u679csort\u53c2\u6570\u4e3afull_name\uff0c\u7528\u5347\u5e8f(asc)\u3002\u5426\u5219\u964d\u5e8f(desc)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "\u5f53\u524d\u7684\u9875\u7801",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "\u6bcf\u9875\u7684\u6570\u91cf\uff0c\u6700\u5927\u4e3a 100",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "assignee": {
                      "$ref": "#/components/schemas/assignee"
                    },
                    "assignees_number": {
                      "type": "integer"
                    },
                    "assigner": {
                      "$ref": "#/components/schemas/assigner"
                    },
                    "blobs_url": {
                      "type": "string"
                    },
                    "branches_url": {
                      "type": "string"
                    },
                    "can_comment": {
                      "type": "boolean"
                    },
                    "collaborators_url": {
                      "type": "string"
                    },
                    "comments_url": {
                      "type": "string"
                    },
                    "commits_url": {
                      "type": "string"
                    },
                    "contributors_url": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "default_branch": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "enterprise": {
                      "$ref": "#/components/schemas/enterprise"
                    },
                    "fork": {
                      "type": "boolean"
                    },
                    "forks_count": {
                      "type": "integer"
                    },
                    "forks_url": {
                      "type": "string"
                    },
                    "full_name": {
                      "type": "string"
                    },
                    "gvp": {
                      "type": "boolean"
                    },
                    "has_issues": {
                      "type": "boolean"
                    },
                    "has_page": {
                      "type": "boolean"
                    },
                    "has_wiki": {
                      "type": "boolean"
                    },
                    "homepage": {
                      "type": "string"
                    },
                    "hooks_url": {
                      "type": "string"
                    },
                    "html_url": {
                      "type": "string"
                    },
                    "human_name": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "internal": {
                      "type": "string"
                    },
                    "issue_comment": {
                      "type": "boolean"
                    },
                    "issue_comment_url": {
                      "type": "string"
                    },
                    "issue_template_source": {
                      "type": "string"
                    },
                    "issues_url": {
                      "type": "string"
                    },
                    "keys_url": {
                      "type": "string"
                    },
                    "labels_url": {
                      "type": "string"
                    },
                    "language": {
                      "type": "string"
                    },
                    "license": {
                      "type": "string"
                    },
                    "members": {
                      "type": "object"
                    },
                    "milestones_url": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "namespace": {
                      "$ref": "#/components/schemas/namespace"
                    },
                    "notifications_url": {
                      "type": "string"
                    },
                    "open_issues_count": {
                      "type": "integer"
                    },
                    "outsourced": {
                      "type": "boolean"
                    },
                    "owner": {
                      "$ref": "#/components/schemas/owner"
                    },
                    "paas": {
                      "type": "string"
                    },
                    "parent": {
                      "$ref": "#/components/schemas/parent"
                    },
                    "path": {
                      "type": "string"
                    },
                    "permission": {
                      "type": "object"
                    },
                    "private": {
                      "type": "boolean"
                    },
                    "programs": {
                      "$ref": "#/components/schemas/programs"
                    },
                    "project_creator": {
                      "type": "string"
                    },
                    "project_labels": {
                      "$ref": "#/components/schemas/project_labels"
                    },
                    "public": {
                      "type": "boolean"
                    },
                    "pull_requests_enabled": {
                      "type": "boolean"
                    },
                    "pulls_url": {
                      "type": "string"
                    },
                    "pushed_at": {
                      "type": "string"
                    },
                    "recommend": {
                      "type": "boolean"
                    },
                    "relation": {
                      "type": "string"
                    },
                    "releases_url": {
                      "type": "string"
                    },
                    "ssh_url": {
                      "type": "string"
                    },
                    "stared": {
                      "type": "boolean"
                    },
                    "stargazers_count": {
                      "type": "integer"
                    },
                    "stargazers_url": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "tags_url": {
                      "type": "string"
                    },
                    "testers": {
                      "$ref": "#/components/schemas/testers"
                    },
                    "testers_number": {
                      "type": "integer"
                    },
                    "updated_at": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    },
                    "watched": {
                      "type": "boolean"
                    },
                    "watchers_count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user/repos": {
      "get": {
        "tags": [
          "repo"
        ],
        "summary": "\u5217\u51fa\u6388\u6743\u7528\u6237\u7684\u6240\u6709\u4ed3\u5e93",
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "description": "\u7528\u6237\u6388\u6743\u7801",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "visibility",
            "in": "query",
            "description": "\u516c\u5f00(public)\u3001\u79c1\u6709(private)\u6216\u8005\u6240\u6709(all)\uff0c\u9ed8\u8ba4: \u6240\u6709(all)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "affiliation",
            "in": "query",
            "description": "owner(\u6388\u6743\u7528\u6237\u62e5\u6709\u7684\u4ed3\u5e93)\u3001collaborator(\u6388\u6743\u7528\u6237\u4e3a\u4ed3\u5e93\u6210\u5458)\u3001organization_member(\u6388\u6743\u7528\u6237\u4e3a\u4ed3\u5e93\u6240\u5728\u7ec4\u7ec7\u5e76\u6709\u8bbf\u95ee\u4ed3\u5e93\u6743\u9650)\u3001enterprise_member(\u6388\u6743\u7528\u6237\u6240\u5728\u4f01\u4e1a\u5e76\u6709\u8bbf\u95ee\u4ed3\u5e93\u6743\u9650)\u3001admin(\u6240\u6709\u6709\u6743\u9650\u7684\uff0c\u5305\u62ec\u6240\u7ba1\u7406\u7684\u7ec4\u7ec7\u4e2d\u6240\u6709\u4ed3\u5e93\u3001\u6240\u7ba1\u7406\u7684\u4f01\u4e1a\u7684\u6240\u6709\u4ed3\u5e93)\u3002\n                   \u53ef\u4ee5\u7528\u9017\u53f7\u5206\u9694\u7b26\u7ec4\u5408\u3002\u5982: owner, organization_member \u6216 owner, collaborator, organization_member",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "\u7b5b\u9009\u7528\u6237\u4ed3\u5e93: \u5176\u521b\u5efa(owner)\u3001\u4e2a\u4eba(personal)\u3001\u5176\u4e3a\u6210\u5458(member)\u3001\u516c\u5f00(public)\u3001\u79c1\u6709(private)\uff0c\u4e0d\u80fd\u4e0e visibility \u6216 affiliation \u53c2\u6570\u4e00\u5e76\u4f7f\u7528\uff0c\u5426\u5219\u4f1a\u62a5 422 \u9519\u8bef",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "\u6392\u5e8f\u65b9\u5f0f: \u521b\u5efa\u65f6\u95f4(created)\uff0c\u66f4\u65b0\u65f6\u95f4(updated)\uff0c\u6700\u540e\u63a8\u9001\u65f6\u95f4(pushed)\uff0c\u4ed3\u5e93\u6240\u5c5e\u4e0e\u540d\u79f0(full_name)\u3002\u9ed8\u8ba4: full_name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "direction",
            "in": "query",
            "description": "\u5982\u679csort\u53c2\u6570\u4e3afull_name\uff0c\u7528\u5347\u5e8f(asc)\u3002\u5426\u5219\u964d\u5e8f(desc)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "\u641c\u7d22\u5173\u952e\u5b57",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "\u5f53\u524d\u7684\u9875\u7801",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "\u6bcf\u9875\u7684\u6570\u91cf\uff0c\u6700\u5927\u4e3a 100",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "assignee": {
                      "$ref": "#/components/schemas/assignee"
                    },
                    "assignees_number": {
                      "type": "integer"
                    },
                    "assigner": {
                      "$ref": "#/components/schemas/assigner"
                    },
                    "blobs_url": {
                      "type": "string"
                    },
                    "branches_url": {
                      "type": "string"
                    },
                    "can_comment": {
                      "type": "boolean"
                    },
                    "collaborators_url": {
                      "type": "string"
                    },
                    "comments_url": {
                      "type": "string"
                    },
                    "commits_url": {
                      "type": "string"
                    },
                    "contributors_url": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "default_branch": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "enterprise": {
                      "$ref": "#/components/schemas/enterprise"
                    },
                    "fork": {
                      "type": "boolean"
                    },
                    "forks_count": {
                      "type": "integer"
                    },
                    "forks_url": {
                      "type": "string"
                    },
                    "full_name": {
                      "type": "string"
                    },
                    "gvp": {
                      "type": "boolean"
                    },
                    "has_issues": {
                      "type": "boolean"
[...]
